<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Sistema Bancario BanBif</display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoDeCambio</servlet-name>
        <servlet-class>controlador.TipoDeCambio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagarMisTarjetas</servlet-name>
        <servlet-class>controlador.PagarMisTarjetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferirEntreCuentasPropias</servlet-name>
        <servlet-class>controlador.TransferirEntreCuentasPropias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>controlador.registrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoDeCambio</servlet-name>
        <url-pattern>/TipoDeCambio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagarMisTarjetas</servlet-name>
        <url-pattern>/PagarMisTarjetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferirEntreCuentasPropias</servlet-name>
        <url-pattern>/TransferirEntreCuentasPropias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
